<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EscapeFromRemoteWorkWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EscapeFromRemoteWorkWpf.Properties.Settings>
            <setting name="ExitAsMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MouseMinRandomSec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MouseMaxRandomSec" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MousePrecision" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ProcessHandleMinRandomSec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProcessHandleMaxRandomSec" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>01/01/2000 08:50:00</value>
            </setting>
            <setting name="IsStartManually" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>01/01/2000 17:35:00</value>
            </setting>
            <setting name="IsEndManually" serializeAs="String">
                <value>False</value>
            </setting>
        </EscapeFromRemoteWorkWpf.Properties.Settings>
    </userSettings>
</configuration>